<html>
  <body>
    <h1><%=node['company_web']['company_name']%> Welcomes You!</h1>
    <h2>PLATFORM: <%= node['platform'] %></h2>
    <h2>HOSTNAME: <%= node['hostname'] %></h2>
    <h2>MEMORY:   <%= node['memory']['total'] %></h2>
    <h2>CPU Mhz:  <%= node['cpu']['0']['mhz'] %></h2>
  </body>
</html>
